@charset "UTF-8";
  p.a  {
    font-size: 25pt;
    font-family:   宋体, serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  }

  p.b  {
    font-size: 25pt;
    /* font-family:Meiryo; */
    font-family: Hiragino Sans GB, \5b8b\4f53;
  }

  p.c {
    font-size: 25pt;
    font-family: Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,serif;
  }